/*
    style.css
    Marek Fewtrell

*/

/* Contains basic styling */

header {
    text-align: center;
    background-color: blue;
}

section {
    width: 100%;
    background-color: yellow;
}

footer {
    text-align: center;
    background-color: blue;
}

/*
    Contains the specific styling.
*/

canvas {
    margin: auto;
    display: block;
}

#gameSelector {
    text-align: center;
}

#gameSelector button {
    padding: .5em;
    margin: .5em;
    background-color: white;
    border-color: black;
}