/*
    style.css
    Marek Fewtrell

*/

/* Contains basic styling */

header {
    text-align: center;
    background-color: lightblue;
}

section {
    width: 100%;
    background-color: lightgrey;
}

footer {
    text-align: center;
    background-color: lightblue;
}

/*
    Contains the specific styling.
*/

canvas {
    margin: auto;
    display: block;
}

#gameOptionMenu {
    text-align: center;
}

#gameOptionMenu button {
    padding: .5em;
    margin: .5em;
    background-color: white;
    border-color: black;
}

.selectedButt {
    box-shadow: 0 0 10px green;
}

.menuBordered {
    border: 1px solid green;
    width: auto;
    margin: 5px;
    display: inline-block;
    padding: 5px;
}